
.btn-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.btn-disabled:hover {
  background-color: gray;
}

.form-container {
  position: relative;
}

.image-container {
  margin-bottom: 20px; 
}

img {
  width: 600px;
  height: 800px;
}

.open-modal-button {
  display: block; 
  margin: 0 auto; 
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  position: relative;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  .form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    height: auto;
  }
  .open-modal-button {
    position: relative; 
    bottom: 10px; 
    left: 20%; 
    transform: translateX(-50%);
  }
}
